<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Experiments</title>
		<base href="<%= basePath %>">
		<style>
			body {
				font-family: sans-serif;
			}
		</style>
	</head>
	<body>
		<h1>Experiments</h1>
		<ul>
			<li><a href="poetry">Random Poetry</a></li>
			<li><a href="poetry/random-structure">Very Random Poetry</a></li>
		</ul>
	</body>
</html>
