<html>
	<head>
		<title>Poetry</title>
		<style>
			body {
				display: flex;
				justify-content: center;
			}

			p {
				font-size: 1.5em;
				white-space: pre;
				line-height: 1.5em;
				font-style: italic;
				margin-top: 30vh;
        margin-bottom: 0;
        font-family: serif;
			}
		</style>
	</head>
	<body>
		<p><%= poem %></p>
	</body>
</html>
